Repository realliance/senior-accounts: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-pipeline, renovate-config, validate-deploy

validate-pipeline:
  name: Validate CI pipeline
  entry: fly validate-pipeline --config
  language: system

renovate-config:
  name: Check renovate config
  entry: renovate-config-validator
  language: system

validate-deploy:
  name: Validate deploy manifests
  entry: kubectl apply --dry-run=client -k deploy
  language: system
  pass_filenames: false

UsersController basic users methods
  .rspec
  app/controllers/application_controller.rb
  app/controllers/users_controller.rb
  spec/requests/users_controller_spec.rb
  spec/spec_helper.rb
Due: none

Add sessions
  app/controllers/users_controller.rb
  app/models/user.rb
  app/views/users/show.json.jbuilder
  config/routes.rb
  spec/models/user_spec.rb
  spec/requests/users_controller_spec.rb
  spec/routing/users_routing_spec.rb
Due: none

Fixup KSUID in API
  app/views/users/show.json.jbuilder
  db/migrate/20210128011516_create_users.rb
  db/schema.rb
Due: none

Add short password test
  spec/models/user_spec.rb
Due: none

Update dependency rubocop to v1.9.0
  Gemfile
Due: none

Send Devise To Hell (#93)
  .pre-commit-config.yaml
  .rspec
  .rubocop.yml
  Gemfile
  Gemfile.lock
  app/controllers/application_controller.rb
  app/controllers/users_controller.rb
  app/models/application_record.rb
  app/models/user.rb
  app/views/users/show.json.jbuilder
  config/environments/development.rb
  config/environments/test.rb
  config/initializers/devise.rb
  config/locales/devise.en.yml
  config/routes.rb
  db/migrate/20210125051022_devise_create_users.rb
  db/migrate/20210128011516_create_users.rb
  db/schema.rb
  spec/factories/users.rb
  spec/models/user_spec.rb
  spec/requests/users_controller_spec.rb
  spec/routing/users_routing_spec.rb
  spec/spec_helper.rb
Due: none

[ci skip] Update quay.io/realliance/senior-accounts:latest Docker digest to 9671a4d
  deploy/deployment.yaml
Due: validate-deploy

[ci skip] Update quay.io/realliance/senior-accounts:latest Docker digest to 9671a4d (#100)
  deploy/deployment.yaml
Due: validate-deploy

Update renovate-approve.yaml
  .github/workflows/renovate-approve.yaml
Due: none

Update renovate-approve.yaml (#102)
  .github/workflows/renovate-approve.yaml
Due: none

[ci skip] Update quay.io/realliance/senior-accounts:latest Docker digest to 1ae47e1
  deploy/deployment.yaml
Due: validate-deploy

[ci skip] Update quay.io/realliance/senior-accounts:latest Docker digest to 1ae47e1 (#103)
  deploy/deployment.yaml
Due: validate-deploy

Update .renovaterc.json
  .renovaterc.json
Due: renovate-config

Update .renovaterc.json (#104)
  .renovaterc.json
Due: renovate-config

Remove password_confirmation; Fix authentication check
  Gemfile.lock
  app/controllers/users_controller.rb
  spec/factories/users.rb
  spec/models/user_spec.rb
  spec/requests/users_controller_spec.rb
Due: none

Remove password_confirmation; Fix authentication check (#105)
  Gemfile.lock
  app/controllers/users_controller.rb
  spec/factories/users.rb
  spec/models/user_spec.rb
  spec/requests/users_controller_spec.rb
Due: none

Update quay.io/realliance/senior-accounts:latest Docker digest to 085f6ea
  deploy/deployment.yaml
Due: validate-deploy

Update quay.io/realliance/senior-accounts:latest Docker digest to 085f6ea (#106)
  deploy/deployment.yaml
Due: validate-deploy

Update docker.io/ruby:3.0-alpine Docker digest to 7d4b0c2
  Dockerfile
Due: none

Update docker.io/ruby:3.0-alpine Docker digest to 7d4b0c2 (#107)
  Dockerfile
Due: none

Update docker.io/ruby:3.0-alpine Docker digest to 20edafc
  Dockerfile
Due: none

Update docker.io/ruby:3.0-alpine Docker digest to 20edafc (#108)
  Dockerfile
Due: none

Update quay.io/realliance/senior-accounts:latest Docker digest to 2bccfad
  deploy/deployment.yaml
Due: validate-deploy

Update quay.io/realliance/senior-accounts:latest Docker digest to 2bccfad (#109)
  deploy/deployment.yaml
Due: validate-deploy

Update docker.io/ruby:3.0-alpine Docker digest to ef198f5
  Dockerfile
Due: none

Update docker.io/ruby:3.0-alpine Docker digest to ef198f5 (#110)
  Dockerfile
Due: none

Update docker.io/ruby:3.0-alpine Docker digest to f2193ee
  Dockerfile
Due: none

Update docker.io/ruby:3.0-alpine Docker digest to f2193ee (#111)
  Dockerfile
Due: none

Update comment-approve.yaml
  .github/workflows/comment-approve.yaml
Due: none

Hotfix/not self hosted (#115)
  .github/workflows/comment-approve.yaml
  .github/workflows/renovate-approve.yaml
Due: none

Update dependency rubocop to v1.9.0
  Gemfile
  Gemfile.lock
Due: none

Update precommit hook adrienverge/yamllint to v1.26.0
  .pre-commit-config.yaml
Due: none

Update precommit hook adrienverge/yamllint to v1.26.0 (#114)
  .pre-commit-config.yaml
Due: none

Update quay.io/realliance/senior-accounts:latest Docker digest to aae55d3
  deploy/deployment.yaml
Due: validate-deploy

Update quay.io/realliance/senior-accounts:latest Docker digest to aae55d3 (#112)
  deploy/deployment.yaml
Due: validate-deploy

Path conditions:
  validate-pipeline: any of: ci/.*, but not: config/credentials.yml.enc
  renovate-config: any of: \.renovaterc\.json, but not: config/credentials.yml.enc
  validate-deploy: any of: deploy/.*, but not: config/credentials.yml.enc
