Repository realliance/senior-accounts: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-pipeline, renovate-config, validate-deploy

.pre-commit-config.yaml:

---
exclude: config/credentials.yml.enc
repos:
  - repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
    rev: 0.1.0
    hooks:
      - id: yamlfmt
        args: [--mapping, '2', --sequence, '4', --offset, '2']
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb, '2048']
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: destroyed-symlinks
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
        name: Fix UTF-8 byte order marker
      - id: mixed-line-ending
        args: [--fix, lf]
      - id: no-commit-to-branch
        args: [--branch, main]
      - id: trailing-whitespace
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.25.0
    hooks:
      - id: yamllint
        name: Check YAML style with yamllint
  - repo: https://github.com/mattlqx/pre-commit-ruby
    rev: v1.3.3
    hooks:
      - id: rubocop
        exclude: db/schema\.rb|vendor/.*|bin/.*|Gemfile\.lock
  - repo: local
    hooks:
      - id: database-consistency
        name: Check database consistency
        entry: bundle exec database_consistency
        language: system
        pass_filenames: false
        always_run: true
      - id: validate-pipeline
        name: Validate CI pipeline
        entry: fly validate-pipeline --config
        language: system
        files: ci/.*
      - id: renovate-config
        name: Check renovate config
        entry: renovate-config-validator
        language: system
        files: \.renovaterc\.json
      - id: validate-deploy
        name: Validate deploy manifests
        entry: kubectl apply --dry-run=client -k deploy
        language: system
        pass_filenames: false
        files: deploy/.*

Added sentry integration
  Gemfile
  Gemfile.lock
  config/application.rb
  deploy/deployment.yaml
Due: validate-deploy

Added sentry integration (#129)
  Gemfile
  Gemfile.lock
  config/application.rb
  deploy/deployment.yaml
Due: validate-deploy

Update quay.io/realliance/senior-accounts:latest Docker digest to 6d9ff0f
  deploy/deployment.yaml
Due: validate-deploy

Update quay.io/realliance/senior-accounts:latest Docker digest to 6d9ff0f (#130)
  deploy/deployment.yaml
Due: validate-deploy

Pin sentry versions
  Gemfile
  Gemfile.lock
Due: none

Pin sentry versions (#134)
  Gemfile
  Gemfile.lock
Due: none

Update quay.io/realliance/senior-accounts:latest Docker digest to 8788e8b
  deploy/deployment.yaml
Due: validate-deploy

Perform migrations in production
  Dockerfile
  docker-start.sh
Due: none

Update quay.io/realliance/senior-accounts:latest Docker digest to 8788e8b (#135)
  deploy/deployment.yaml
Due: validate-deploy

Perform migrations in production (#136)
  Dockerfile
  docker-start.sh
Due: none

Update quay.io/realliance/senior-accounts:latest Docker digest to 85045f5
  deploy/deployment.yaml
Due: validate-deploy

Improve sentry
  app/controllers/application_controller.rb
  ci/ci.yaml
  config/application.rb
Due: validate-pipeline

Add arg to Dockerfile
  Dockerfile
Due: none

Update quay.io/realliance/senior-accounts:latest Docker digest to 85045f5 (#137)
  deploy/deployment.yaml
Due: validate-deploy

Fix sentry violations
  app/controllers/application_controller.rb
Due: none

Fixup Dockerfile
  Dockerfile
Due: none

Feature/sentry improvements (#140)
  Dockerfile
  app/controllers/application_controller.rb
  ci/ci.yaml
  config/application.rb
Due: validate-pipeline

Fixup CI
  .dockerignore
  ci/ci.yaml
Due: validate-pipeline

Fixup CI (#142)
  .dockerignore
  ci/ci.yaml
Due: validate-pipeline

Update quay.io/realliance/senior-accounts:latest Docker digest to 36ad108
  deploy/deployment.yaml
Due: validate-deploy

Update quay.io/realliance/senior-accounts:latest Docker digest to 36ad108 (#141)
  deploy/deployment.yaml
Due: validate-deploy

Update quay.io/realliance/senior-accounts:latest Docker digest to 79edb73
  deploy/deployment.yaml
Due: validate-deploy

Update quay.io/realliance/senior-accounts:latest Docker digest to 79edb73 (#143)
  deploy/deployment.yaml
Due: validate-deploy

Better sentry releases
  Dockerfile
  ci/ci.yaml
  config/application.rb
Due: validate-pipeline

Better sentry releases (#144)
  Dockerfile
  ci/ci.yaml
  config/application.rb
Due: validate-pipeline

Update ci.yaml
  ci/ci.yaml
Due: validate-pipeline

Update ci.yaml (#145)
  ci/ci.yaml
Due: validate-pipeline

Update quay.io/realliance/senior-accounts:latest Docker digest to f99f037
  deploy/deployment.yaml
Due: validate-deploy

Update quay.io/realliance/senior-accounts:latest Docker digest to f99f037 (#146)
  deploy/deployment.yaml
Due: validate-deploy

Migrate manifests to realliance/k8s-config
  .dockerignore
  .pre-commit-config.yaml
  .renovaterc.json
  CODEOWNERS
  deploy/database.yaml
  deploy/deployment.yaml
  deploy/ingress.yaml
  deploy/kustomization.yaml
  deploy/namespace.yaml
Due: renovate-config, validate-deploy

Migrate manifests to realliance/k8s-config (#147)
  .dockerignore
  .pre-commit-config.yaml
  .renovaterc.json
  CODEOWNERS
  deploy/database.yaml
  deploy/deployment.yaml
  deploy/ingress.yaml
  deploy/kustomization.yaml
  deploy/namespace.yaml
Due: renovate-config, validate-deploy

Remove db:migrate in Dockerfile
  Dockerfile
  docker-start.sh
Due: none

Remove db:migrate in Dockerfile (#148)
  Dockerfile
  docker-start.sh
Due: none

Update dependency sentry-ruby to v4.2.0
  Gemfile
Due: none

Update dependency sentry-rails to v4.2.0
  Gemfile
Due: none

Update dependency bootsnap to v1.7.1
  Gemfile
Due: none

Update dependency bootsnap to v1.7.1
  Gemfile
  Gemfile.lock
Due: none

Update dependency bootsnap to v1.7.1 (#160)
  Gemfile
  Gemfile.lock
Due: none
