Repository realliance/senior-accounts: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-pipeline, renovate-config, validate-deploy

.pre-commit-config.yaml:

---
exclude: config/credentials.yml.enc
repos:
  - repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
    rev: 0.1.0
    hooks:
      - id: yamlfmt
        args: [--mapping, '2', --sequence, '4', --offset, '2']
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb, '2048']
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: destroyed-symlinks
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
        name: Fix UTF-8 byte order marker
      - id: mixed-line-ending
        args: [--fix, lf]
      - id: no-commit-to-branch
        args: [--branch, main]
      - id: trailing-whitespace
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.25.0
    hooks:
      - id: yamllint
        name: Check YAML style with yamllint
  - repo: https://github.com/mattlqx/pre-commit-ruby
    rev: v1.3.3
    hooks:
      - id: rubocop
        exclude: db/schema\.rb|vendor/.*|bin/.*|Gemfile\.lock
  - repo: local
    hooks:
      - id: database-consistency
        name: Check database consistency
        entry: bundle exec database_consistency
        language: system
        pass_filenames: false
        always_run: true
      - id: validate-pipeline
        name: Validate CI pipeline
        entry: fly validate-pipeline --config
        language: system
        files: ci/.*
      - id: renovate-config
        name: Check renovate config
        entry: renovate-config-validator
        language: system
        files: \.renovaterc\.json
      - id: validate-deploy
        name: Validate deploy manifests
        entry: kubectl apply --dry-run=client -k deploy
        language: system
        pass_filenames: false
        files: deploy/.*

Update dependency rubocop to v1.9.0 (#116)
  Gemfile
  Gemfile.lock
Due: none

Update quay.io/realliance/senior-accounts:latest Docker digest to 27eac81
  deploy/deployment.yaml
Due: validate-deploy

Update quay.io/realliance/senior-accounts:latest Docker digest to 27eac81 (#117)
  deploy/deployment.yaml
Due: validate-deploy

Update ci.yaml
  ci/ci.yaml
Due: validate-pipeline

Update ci.yaml (#120)
  ci/ci.yaml
Due: validate-pipeline

Update quay.io/realliance/senior-accounts:latest Docker digest to bfa8070
  deploy/deployment.yaml
Due: validate-deploy

Update quay.io/realliance/senior-accounts:latest Docker digest to bfa8070 (#121)
  deploy/deployment.yaml
Due: validate-deploy

Update dependency bootsnap to v1.7.0
  Gemfile
  Gemfile.lock
Due: none

Update dependency bootsnap to v1.7.0 (#123)
  Gemfile
  Gemfile.lock
Due: none

Update quay.io/realliance/senior-accounts:latest Docker digest to 47b4d53
  deploy/deployment.yaml
Due: validate-deploy

Update quay.io/realliance/senior-accounts:latest Docker digest to 47b4d53 (#124)
  deploy/deployment.yaml
Due: validate-deploy

Update dependency rubocop to v1.9.1
  Gemfile
  Gemfile.lock
Due: none

Update dependency rubocop to v1.9.1 (#122)
  Gemfile
  Gemfile.lock
Due: none

Update quay.io/realliance/senior-accounts:latest Docker digest to d854c27
  deploy/deployment.yaml
Due: validate-deploy

Update quay.io/realliance/senior-accounts:latest Docker digest to d854c27 (#125)
  deploy/deployment.yaml
Due: validate-deploy

Add letter_opener gem
  Gemfile
  Gemfile.lock
  config/environments/development.rb
Due: none

Update config
  config/environments/development.rb
  config/environments/test.rb
  config/routes.rb
Due: none

email deliver_later environments configurations
  config/environments/development.rb
  config/environments/production.rb
  config/environments/test.rb
Due: none

Use background jobs for emails
  app/controllers/users_controller.rb
  spec/requests/users_controller_spec.rb
Due: none

Resolve feature/email verification
  Gemfile
  Gemfile.lock
  app/controllers/users_controller.rb
  app/models/user.rb
  bin/delayed_job
  config/environments/production.rb
  db/migrate/20210128011516_create_users.rb
  db/migrate/20210201064911_create_delayed_jobs.rb
  db/schema.rb
  spec/factories/users.rb
  spec/mailers/previews/user_mailer_preview.rb
  spec/mailers/user_mailer_spec.rb
  spec/requests/users_controller_spec.rb
Due: none

Confirmation email view
  app/mailers/user_mailer.rb
  app/views/user_mailer/account_activation.html.erb
  app/views/user_mailer/account_activation.text.erb
  spec/factories/users.rb
  spec/fixtures/user_mailer/account_activation
  spec/mailers/previews/user_mailer_preview.rb
  spec/mailers/user_mailer_spec.rb
Due: none

Add email confirmation to user controller
  app/controllers/account_activations_controller.rb
  app/controllers/users_controller.rb
  app/views/user_mailer/account_activation.html.erb
  app/views/user_mailer/account_activation.text.erb
  config/routes.rb
Due: none

Update show.json.jbuilder
  app/controllers/users_controller.rb
  app/views/users/show.json.jbuilder
Due: none

Cleaner code meme update
  app/controllers/users_controller.rb
  app/models/user.rb
  app/views/users/show.json.jbuilder
  db/migrate/20210128011516_create_users.rb
  db/schema.rb
  spec/factories/users.rb
  spec/mailers/user_mailer_spec.rb
  spec/models/user_spec.rb
  spec/requests/users_controller_spec.rb
Due: none

Add email format validation
  app/models/user.rb
Due: none

Prevent login until email confirmed
  app/controllers/users_controller.rb
Due: none

Add error messages; Remove unnecessary files
  app/controllers/users_controller.rb
  app/mailers/user_mailer.rb
  app/views/user_mailer/email_confirmation.erb
  app/views/user_mailer/email_confirmation.html.erb
  spec/factories/users.rb
  spec/fixtures/user_mailer/account_activation
  spec/mailers/user_mailer_spec.rb
Due: none

Reconfirm user email
  app/controllers/users_controller.rb
  app/mailers/user_mailer.rb
  app/models/user.rb
  app/views/user_mailer/account_activation.html.erb
  app/views/user_mailer/account_activation.text.erb
  db/migrate/20210128011516_create_users.rb
  db/schema.rb
Due: none

Add additional unit tests
  app/controllers/users_controller.rb
  app/mailers/user_mailer.rb
  app/views/user_mailer/email_confirmation.erb
  app/views/user_mailer/email_confirmation.html.erb
  config/routes.rb
  spec/factories/users.rb
  spec/mailers/user_mailer_spec.rb
  spec/models/user_spec.rb
  spec/routing/users_routing_spec.rb
Due: none

Add email confirmation token entry
  app/models/user.rb
  db/migrate/20210128011516_create_users.rb
  db/schema.rb
  spec/models/user_spec.rb
Due: none

Add more unit tests
  app/models/user.rb
  spec/requests/users_controller_spec.rb
Due: none

Add account activation controller
  app/controllers/account_activations_controller.rb
  app/controllers/users_controller.rb
  app/views/user_mailer/account_activation.html.erb
Due: none

Resolve feature/email-verification
  app/controllers/users_controller.rb
  spec/requests/users_controller_spec.rb
Due: none

Feature/email verification (#113)
  Gemfile
  Gemfile.lock
  app/controllers/users_controller.rb
  app/mailers/user_mailer.rb
  app/models/user.rb
  app/views/user_mailer/email_confirmation.html.erb
  bin/delayed_job
  config/environments/development.rb
  config/environments/production.rb
  config/environments/test.rb
  config/routes.rb
  db/migrate/20210128011516_create_users.rb
  db/migrate/20210201064911_create_delayed_jobs.rb
  db/schema.rb
  spec/factories/users.rb
  spec/mailers/previews/user_mailer_preview.rb
  spec/mailers/user_mailer_spec.rb
  spec/models/user_spec.rb
  spec/requests/users_controller_spec.rb
  spec/routing/users_routing_spec.rb
Due: none

Update quay.io/realliance/senior-accounts:latest Docker digest to f3f180c
  deploy/deployment.yaml
Due: validate-deploy

Update quay.io/realliance/senior-accounts:latest Docker digest to f3f180c (#126)
  deploy/deployment.yaml
Due: validate-deploy

Update dependency rubocop-rspec to v2.2.0
  Gemfile
  Gemfile.lock
Due: none

Update dependency rubocop-rspec to v2.2.0 (#127)
  Gemfile
  Gemfile.lock
Due: none

Update quay.io/realliance/senior-accounts:latest Docker digest to aaa9fce
  deploy/deployment.yaml
Due: validate-deploy

Update quay.io/realliance/senior-accounts:latest Docker digest to aaa9fce (#128)
  deploy/deployment.yaml
Due: validate-deploy
